{% extends 'base.html.twig' %}

{% block body %}
{#            Gallerie#}


{#    <div class="container d-flex flex-column align-items-center">#}
    <div class="container d-flex flex-column justify-content-center align-items-center mb-4">
        <h1>Le Chef Michant vous souhaite la bienvenue</h1>
{% for message in app.flashes('full') %}
    <div class="alert alert-danger mb-4"> {{ message }}</div>
{% endfor %}
        <div class="gallerie">
            {% for plat in plats %}
                {% if plat.favoris == true %}
                    <div class="photo-item m-2">
                        <img  class="image" src="{{ asset('uploads/photos/' ~ plat.imageName )}}" >
                        <div class="middle">
                            <h3 class="text">{{ plat.titre }}</h3>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    <button type="button" class="btn btn-info btn-lg m-5" data-bs-toggle="modal" data-bs-target="#modal1">Reservez</button>

        {#            Modal reservation#}

        <div class="modal fade" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" aria-labelledby="modal title">
                            Reservez
                        </h5>
                        <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <div class="modal-body" aria-describedby="content">

                        <p>
                            {{ form_start(form, {'autocomplete' : 'off'}) }}
                            {{ form_row(form.nbrCouvert) }}
                            {{ form_row(form.date) }}
                            {{ form_row(form.heure, {'empty_data' : '14:00'}) }}
                            {{ form_row(form.allergie) }}
                            {{ form_end(form) }}

                        </p>
                    </div>


                </div>
            </div>

        </div>


    </div>
{% endblock %}

