{% extends 'base.html.twig' %}

{% block title %}La Carte{% endblock %}

{% block body %}
    <h1>Entrées</h1>
    <div class="d-flex flex-wrap">
        {% for plat in plats %}
            {% if plat.categorie == "entrée" %}
                <div id="card">
                        <img class="img-card" src="{{ asset('uploads/photos/' ~ plat.imageName )}}" alt="{{ plat.titre }}">
                    <div class="card-info">
                        <h3 class="card-title">{{ plat.titre }}</h3>
                        <p class="description">{{ plat.description }}</p>
                        <p class="price">prix</p>
                    </div>

                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Plats</h1>
    <div class="gallerie">
        {% for plat in plats %}
            {% if plat.categorie == "plat" %}
                <div class="">
                    <img src="{{ asset('uploads/photos/' ~ plat.imageName )}}" >
                        <h3>{{ plat.titre }}</h3>


                </div>
            {% endif %}
        {% endfor %}
    </div>

    <h1>Desserts</h1>
    <div class="gallerie">
        {% for plat in plats %}
            {% if plat.categorie == "dessert" %}
                <div class="">
                    <img src="{{ asset('uploads/photos/' ~ plat.imageName )}}" >
                        <h3>{{ plat.titre }}</h3>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
